* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
}
.logo {
  text-decoration: none;
  color: #5099e2;
  font-size: 40px;
  position: fixed;
  top: 30px; left: 30px;
  font-weight: bold;
}
#index #sec1 {
  background-color: rgba(36,33,33,0.46);
}
#index #sec1 h1 {
  color: #5099e2;
  font-size: 110px;
  text-align: center;
  margin-top: -60px;
}
#index #sec2 .intro {
  width: 100%;
  height: 100%;
  padding: 0 50px;
}
#index #sec2 .ver {
  width: 7.5px;
  border-radius: 20px;
  height: 110px;
  background-color: #ffdd00;
  margin: 0 auto;
}
#index #sec2 .hor {
  width: 100px;
  height: 5px;
  border-radius: 20px;
  background-color: #888;
  margin: 4% auto 3.5% auto;
}
#index #sec2 h2 {
  text-align: center;
  font-size: 85px;
  color: #ffdd00;
  margin: 4% 0 4% 0;
}
#index #sec2 p {
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  color: #333;
  letter-spacing: 1px;
}
#index #sec2 p span {
  font-weight: bold;
}
#index #sec2 p.q {
  color: #2e2e2e;
}
#index #sec2 p.q a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #a7ccf1;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  margin-left: 15px;
  padding: 5px;
  transition: all 0.5s;
}
#index #sec2 p.q a:hover {
  background-color: #91bfee;
  transform: scale(1.1, 1.1);
}
#index #sec2 p.q a img {
  width: 22px;
  height: 22px;
  transform: rotate(180deg)
}

/* about */
#about #sec1 {
  width: 100%;
  height: 200px;
  margin-top: 75px;
}
#about #sec1 .ver {
  width: 6px;
  height: 75px;
  border-radius: 20px;
  background-color: #ffdd00;
  margin: 0 auto;
}
#about #sec1 h2 {
  text-align: center;
  font-size: 60px;
  color: #ffdd00;
  margin: 20px 0;
}
#about #sec2 {
  width: 100%;
  height: 530px;
  margin: 50px 0;
}
#about .team {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
#about .team p {
  width: 200px;
  height: 100%;
  float: left;
  font-size: 36px;
  text-align: right;
  line-height: 80px;
  padding: 190px 80px 190px 0;
}
#about .team img {
  width: 700px;
  height: 100%;
  float: left;
}
#about #sec3 {
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
}
#about #sec4 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#about #sec4 .sec4-bg {
  position: absolute;
  top: 0; left: 0;
  background-image: url('../img/backgroud.jpg');
  background-position: center center;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
#about #sec4 .sec4-black {
  position: absolute;
  top: 0; left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
}
#about #sec4 ul {
  margin: 90px auto;
  position: relative;
  z-index: 10;
  width: 1200px;
  height: 120px;
}
#about #sec4 ul li {
  width: 400px;
  height: 100%;
  float: left;
  list-style: none;
  line-height: 60px;
  text-align: center;
  border-right: 1.5px solid rgba(255, 255, 255, 0.7);
}
#about #sec4 ul li:last-child {
  border: 0;
}
#about #sec4 ul li p {
  opacity: 1;
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 5px;
}
#about #sec4 ul li p.title {
  opacity: 0.7;
  font-size: 22px;
  font-weight: normal;
}
#about #sec5 {
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
}
#about #sec5 ul {
  width: 1050px;
  height: 500px;
  margin: 0 auto;
}
#about #sec5 ul li {
  width: 350px;
  height: 500px;
  list-style: none;
  float: left;
  padding: 95px 50px;
  text-align: center;
}
#about #sec5 ul li div {
  width: 150px;
  height: 150px;
  border: 1.5px solid #333;
  border-radius: 100px;
  padding: 20px;
  margin: 0 50px;
}
#about #sec5 ul li:last-child div {
  padding: 31px;
}
#about #sec5 ul li h3 {
  margin: 30px 0;
  font-size: 20px;
  letter-spacing: 1px;
}
#about #sec5 ul li p {
  font-size: 17px;
  line-height: 28px;
}

/* work */
#work #sec1 {
  width: 100%;
  height: 200px;
  margin-top: 75px;
}
#work #sec1 .ver {
  width: 6px;
  height: 75px;
  border-radius: 20px;
  background-color: #ffdd00;
  margin: 0 auto;
}
#work #sec1 h2 {
  text-align: center;
  font-size: 60px;
  color: #ffdd00;
  margin: 20px 0;
}

/* profile */
#profile #sec1 {
  width: 100%;
  height: 200px;
  margin-top: 75px;
}
#profile #sec1 .ver {
  width: 6px;
  height: 75px;
  border-radius: 20px;
  background-color: #ffdd00;
  margin: 0 auto;
}
#profile #sec1 h2 {
  text-align: center;
  font-size: 60px;
  color: #ffdd00;
  margin: 20px 0;
}
#profile #sec2 {
  width: 100%;
  height: 780px;
}
#profile #sec2 .profile-17 {
  width: 100%;
  height: 300px;
  background-color: #f2f2f2;
}
#profile #sec2 .profile-17 ul {
  background-color: #f2f2f2;
}
#profile #sec2 .profile-18 {
  width: 100%;
  height: 520px;
  background-color: #fff;
}
#profile #sec2 ul {
  width: 1260px;
  height: 300px;
  margin: 0 auto;
}
#profile #sec2 ul h3{
  padding: 25px 40px;
}
#profile #sec2 ul li {
  float: left;
  width: 120px;
  height: 200px;
  margin: 0 30px 30px 30px;
  list-style: none;
}
#profile #sec2 ul li a {
  display: inline-block;
  width: 120px;
  height: 120px;
  position: relative;
}
#profile #sec2 ul li a div {
  position: absolute;
  top: 0; left: 0;
  width: 120px;
  height: 120px;
  opacity: 0;
  transition: all 0.3s;
  border-radius: 5px;
}
#profile #sec2 ul li a img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
#profile #sec2 ul li a img.github-img {
  position: absolute;
  top: 0; left: 0;
  width: 55px;
  height: 55px;
  opacity: 0;
  margin: 32.5px;
  transition: all 0.3s;
}
#profile #sec2 ul li a:hover div {
  opacity: 0.75;
  background-color: #000;
}
#profile #sec2 ul li a:hover img.github-img {
  opacity: 1;
  z-index: 5;
}
#profile #sec2 ul li p.name {
  text-align: center;
  font-weight: bold;
  margin: 17.5px 0;
}
#profile #sec2 ul li p.lang {
  font-size: 15px;
  text-align: center;
}

/* side */
.fixed {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 75px;
}
.fixed .logo {
  position: absolute;
  top: 0; left: 0;
  z-index: 20;
  width: 75px;
  height: 75px;
}
.fixed .logo h1 {
  width: 75px;
  height: 75px;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
}
.fixed .logo h1 a {
  color: #5099e2;
  text-decoration: none;
}
.fixed .menu-trigger,
.fixed .menu-trigger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}
.fixed .menu-trigger {
  position: absolute;
  right: 0;
  width: 75px;
  height: 75px;
}
.fixed .menu-trigger span {
  position: absolute;
  right: 22.5px;
  width: 30px; height: 4px;
  background-color: #333;
  border-radius: 10px;
}
.fixed .menu-trigger span:nth-child(1) {
  top: 22px;
}
.fixed .menu-trigger span:nth-child(2) {
  top: 34px;
}
.fixed .menu-trigger span:nth-child(3) {
  top: 46px;
}
.fixed .menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}
.fixed .menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}
.fixed .menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}
#side {
  position: fixed;
  top: 0; right: 0;
  width: 0;
  height: 100%;
  z-index: 15;
  background-color: #f2f2f2;
  overflow-x: hidden;
  transition: 0.5s;
}
#side a {
  display: inline-block;
  width: 100%;
  height: calc(100% / 4);
  font-size: 40px;
  color: #333333;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}
#side a:hover {
  color: #5099e2;
}